{% extends "network/layout.html" %}

{% block title %}
New post
{% endblock %}

{% block body %}
{% if message %}
<div><center>{{ message }}</center></div>
{% endif %}
<h2>New Post</h2>
<br><br>
<form action="{% url 'newpost' %}" method="POST">
 {% csrf_token %}
<input type="textarea" style="height: 150px;" style="width: 300px;" class="form-control" autofocus name="content" placeholder="what's happening">
<br>
<center><input class="btn-style" type="submit" class="btn btn-primary" value="Post"></center>
</form>
<br><br>

{% endblock %}