body {
    background-color: whitesmoke;
}
#user-cell {
    vertical-align: top;
    padding-right: 10px;
}
#like-btn {
    vertical-align: bottom;
}
#timestamp {
    float: right;
    font-size: 12px;
}
#parent-div {
    overflow: auto;
    background-color: #F2F2F2;
}
#block1 {
    float: left;
    width: 25%;
    height: 100%;
}
#block2 {
    float: right;
    width: 25%;
    height: 100%;

}
#body-block {
    margin: auto;
    width: 50%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f2efdf;
}
#follower-block {
    float: left;
    width: 50%;
}
#following-block {
    float: right;
    width: 50%;
}
.edit:hover {
    cursor: pointer;
}
.fa-heart{
    color: #066163;
    cursor: pointer;
}
.post-block {
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    background-color: #f8f7ef;
}
hr {
    border: 1px solid black;
    border-radius: 1px;
    background-color: black;
}
nav {
    background-color: #066163;
    color: #F2F2F2;
}
a.navbar-brand:link, a.navbar-brand:visited, a.navbar-brand:active {
    color: #F2F2F2;
    font-size: 24px;
}
.navbar-light .navbar-nav .nav-link {
    color: #F2F2F2;
    font-size: 18px;
}
a.navbar-brand:hover {
    color: gray;
    font-size: 24px;
}
.navbar-light:hover .navbar-nav:hover .nav-link:hover {
    color: gray;
    font-size: 18px;
}
.user-name, .user-name:hover{
    color: #066163;
    font-size: 19px;
}
.btn-style {
    background-color: #CDBE78;
    padding: 3px 12px 3px 12px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.btn-style:hover {
    background-color: #f2efdf;
    padding: 3px 12px 3px 12px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
h5 {
    color: #066163;
    font-family: cursive;
}
.btn-link, .btn-link:hover{
    color: black;
    text-decoration: none;
}
.post {
    font-size: 17px;
}
.inner-link {
    color: #066163;
}
.inner-link:hover {
    color: #CDBE78;
}
.text-primary {
    color: black !important;
}